# Ignore everything
*

# But not these files...
!*.vimrc
!*.vim
!*.bashrc
!*.config/kitty/
!*.config/nvim/
!*.config/skhd/
!*.config/yabai/
!*.config/zsh/
!.brewfile
!.tmux.conf
!.zshrc
!.zprofile
!.gitignore
!README.md

/.config/zsh/.zsh_sessions/
*.config/nvim/plugin/packer_compiled.lua
# etc...
